.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px;
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    >div {
      display: flex;
      flex-direction: column;
      gap: 6px;

      input,
      textarea {
        border: 1px solid #fff;
        border-radius: 6px;
        padding: 6px;
      }


    }

    button {
      padding: 8px;
      background-color: #fff;
      border-radius: 8px;
      color: #000;
      font-weight: 500;
      font-size: 17px;
      transition: .3s ease;
      border: 1px solid #fff;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}